In [1]:
import pandas as pd
import numpy as np
import openpyxl

**Sanity Checks â€“ Data Cleaning**

In [5]:
wb = pd.read_excel('project.xlsx')


filtered_df = wb[wb['Age'] >= 18.00]
print(filtered_df)

wb = openpyxl.load_workbook('project.xlsx')


sheet = wb['Spend']


repayment = sheet['J2'].value
spend = sheet['E3'].value

# Calculate the surplus amount
surplus = repayment - spend


if surplus > 0:
    credit = surplus * 0.02
else:
    credit = 0

#
billing_next_month = spend - credit


sheet['K2'].value = credit
sheet['L2'].value = billing_next_month


wb.save('1.xlsx')

    Sl No: Customer        Age        City Credit Card Product     Limit  \
1      2.0       A2  35.534551    CALCUTTA              Silver  100000.0
3      4.0       A4  45.820278      BOMBAY            Platimum   10001.0
4      5.0       A5  69.663948   BANGALORE            Platimum   10002.0
5      6.0       A6  35.578586       DELHI              Silver  100000.0
6      7.0       A7  52.102217      COCHIN              Silver  100001.0
..     ...      ...        ...         ...                 ...       ...
95    96.0      A96  29.631637     CHENNAI              Silver  100000.0
96    97.0      A97  20.611833  TRIVANDRUM            Platimum   10000.0
97    98.0      A98  40.538985    CALCUTTA            Platimum   10001.0
98    99.0      A99  21.588666    CALCUTTA            Platimum   10002.0
99   100.0     A100  23.607638      COCHIN              Silver  100000.0

   Company        Segment   SPEND Amount
1       C2   Salaried_MNC  335578.666019
3       C4           Govt  141177.813256
4       C5  Normal Salary  398403.771812
5       C6  Self Employed  429084.568141
6       C7   Salaried_MNC  219341.961771
..     ...            ...            ...
95     C19   Salaried_Pvt  321836.011508
96     C20           Govt  347833.879524
97     C21  Normal Salary  320363.535698
98     C22  Self Employed  164330.042270
99      C5   Salaried_MNC   87483.511992

[78 rows x 9 columns]

**Tasks**

**Monthly spend of each customer**

In [5]:
vf = pd.read_excel('project.xlsx', sheet_name='Spend')

total_spent = vf[' SPEND Amount'].sum()
print("Total Amount spent:", total_spent)

Total Amount spent: 381352048.4308969

**Monthly repayment of each customer**

In [6]:
df = pd.read_excel('project.xlsx', sheet_name='Repayment')

monthly_repayment = df[' Repayment Amount'].sum()
print("Total reapyment ", monthly_repayment)

Total reapyment  371208444.12557673

**Highest paying 10 customers**

In [7]:
df = pd.read_excel('project.xlsx', sheet_name='Repayment')

sorted_df = df.sort_values(' Repayment Amount', ascending=True)

top_10_customers = sorted_df.head(10)
print(top_10_customers)

      SL No: Costomer      Month   Repayment Amount
1480    1481      A61 2006-03-25         183.218203
1407    1408      A49 2005-08-03         247.098585
1326    1327      A55 2004-04-25         611.043628
1404    1405      A46 2005-06-02         802.286656
1094    1095      A55 2006-11-21        1128.949590
126      127      A11 2006-03-05        1129.543601
1398    1399      A40 2005-05-27        1284.649513
1243    1244      A59 2005-06-02        1545.267950
4          5       A1 2005-01-17        1581.969829
1187    1188      A61 2005-04-04        1609.898995

**Which age group is spending more money?**

In [8]:
grouped_data = wb.groupby('Age')[' SPEND Amount'].sum()


most_spent_age_group = grouped_data.idxmax()

print("The age group spending the most money is:", most_spent_age_group)

The age group spending the most money is: 58.078266172803225

**Which is the most profitable segment?**

In [9]:
vf['Profit'] = vf[' Repayment Amount'] - vf[' SPEND Amount']


grouped_data = vf.groupby('Type')['Profit'].sum()

most_profitable_segment = grouped_data.idxmax()

print("The most profitable segment is:", most_profitable_segment)

The most profitable segment is: FOOD

**In which category the customers are spending more money?**

In [10]:
grouped_data = vf.groupby('Type')[' SPEND Amount']

most_spent_category = grouped_data.idxmax()

print("Customers are spending more money in the", most_spent_category, "category.")

Customers are spending more money in the Type
AIR TICKET       494
AUTO             579
BIKE            1174
BUS TICKET       931
CAMERA          1488
CAR               81
CLOTHES         1075
FOOD             367
JEWELLERY       1334
MOVIE TICKET    1469
PETRO           1197
RENTAL          1044
SANDALS          656
SHOPPING         763
TRAIN TICKET     459
Name:  SPEND Amount, dtype: int64 category.

**Monthly profit for the bank**

In [15]:

vf['Profit'] = vf[' Repayment Amount'] - vf[' SPEND Amount']


overall_profit = vf['Profit'].sum()

print("The monthly profit for the bank is:", overall_profit)

The monthly profit for the bank is: -10143604.305320116

**Impose an interest rate of 2.9% for each customer for any due amount**

In [17]:
vf['Interest Amount'] = vf[' SPEND Amount'] * 0.029

print(vf[['Costomer', 'Interest Amount']])

     Costomer  Interest Amount
0          A1     13739.499211
1          A1      9731.781315
2          A1     10760.187315
3          A1      4094.156584
4          A1     11553.709383
...       ...              ...
1495      A67      5679.398054
1496      A68      8243.613014
1497      A69      5990.015934
1498      A70      1189.718657
1499      A71      2940.528909

[1500 rows x 2 columns]